
@{
    ViewBag.Title = "Approved";
}

    <div  class="container mt-5" style="height:750px">
        <div class="row justify-content-center ">
            <div class="col-12">
                <h1 class="text-success">帳號驗證成功</h1>
                <small>請返回登入頁面登入</small>
            </div>
        </div>
    </div>

