
@{
    ViewBag.Title = "Approved";
}

    <div  class="container mt-5" style="height:750px">
        <div class="row justify-content-center ">
            <div class="col-12">
                <h1 class="text-success">帳號驗證成功</h1>
                <div>
                    @Html.ActionLink("返回會員登入", "Login", "Login")
                </div>
            </div>
        </div>
    </div>

