
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
<link href="~/CSS/ADM_login.css" rel="stylesheet" />


<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div id="login-button">
        <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">

    </div>
    <div id="container">
        <h1>Log In</h1>
        <span class="close-btn">
            <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
        </span>
        
        <form method="post">
            <input type="text" name="account" placeholder="ADM's Account" required>
            <input type="password" name="pass" placeholder="ADM's Password" required>
            <input id="Submit1" type="submit" value="Log in" />
            @*<a href="#">Log in</a>*@
           
                <h4 style="text-align:center;color:white;font-family:微軟正黑體">@ViewBag.admLoginERR</h4>
            
           

        </form>
    </div>

    <!-- Forgotten Password Container -->
    @*<div id="forgotten-container">
            <h1>Forgotten</h1>
            <span class="close-btn">
                <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
            </span>

            <form>
                <input type="email" name="email" placeholder="E-mail">
                <a href="#" class="orange-btn">Get new password</a>
            </form>
        </div>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="~/JS/ADM_Login.js"></script>
    <script>
        
    </script>
</body>
</html>
