td{
    color:#fff;
}
th{
    color:#fff;
}

.page-item.disabled .page-link {
    color: #fff;
    pointer-events: none;
    cursor: auto;
    background-color: #808080;
    border-color: #dee2e6;
}


.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #808080;
    border: 1px solid #dee2e6;
}


.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgba(234, 90, 70, 0.85);
    border-color: #007bff;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content:center;
   
   
}