.adj_fontsize {
    font-size:150%;
}
.adj_fontsizemid {
    font-size: 115%;
}

.border-right {
    border-right: none !important;
}
@media (min-width: 768px) {
    .border-right {

        border-right: 1px solid #dee2e6 !important;
    }
}
.w-75 {
    width: 30% !important;
}
.bg-color {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 80%, #fad0c4 100%);
    /*background-color:rgba(255, 216, 0, 0.27);*/
}
.bshadow {
    border:1.5px dashed #000000;
}
.btn-hov:hover {
    color:white;
    background-color:rgba(68, 159, 29, 0.45);
    border-color:white;
}

