.p-adjust {
    padding-left: 10%;
    padding-right: 10%;
}

.w-35 {
    width: 35%;
}

.border-right {
    border-right: none !important;
}

@media (min-width: 768px) {
    .border-right {
        border-right: 0.1px solid #ffe96f !important;
    }
}

.b-top {
    border-top: 1px solid #ffe96f !important;
}

@media (min-width: 768px) {
    .b-top {
        border-top: none !important;
    }
}

.Remarkcard {
    box-shadow: 0 0 10px #ffe96f;
}

.b-bottomDash {
    border-bottom-style: dashed !important;
}

.changeCursor {
    cursor: pointer;
}
.remark_textalign {
    text-align:center;
}

@media (min-width: 768px) {
    .remark_textalign {
        text-align: left;
    }
}